<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.jsdsp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 适配华为8.0安装apk权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- DownloadManager -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.yc.jsdsp.application.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:networkSecurityConfig"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppThemes"
        android:usesCleartextTraffic="true"
        tool:ignore="LockedOrientationActivity"
        tools:targetApi="q">
        <activity android:name="com.yc.jsdsp.beans.activity.TiaoJinMainActivity"></activity>
        <activity android:name="com.yc.jsdsp.beans.activity.ExpressActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.NewsActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.AnswerActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.RedWallActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.VideoActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.AdHotActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.HotActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.ComplaintActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.ComplaintEdActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.MoneyTaskActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.LoginActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.InvationfriendActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.HelpQuestionActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.WebViewActivity" />
        <activity android:name="com.yc.jsdsp.beans.activity.WithDrawRecodeActivity" />
        <activity
            android:name="com.yc.jsdsp.beans.activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yc.jsdsp.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.yc.jsdsp.beans.activity.SplashActivity"
            android:theme="@style/SplashThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--
   不加这个安卓9以上使用QQ分享会闪退 报错ClassNotFoundException:
    Didn't find class "org.apache.http.conn.scheme.SchemeRegistry"
    https://developer.android.google.cn/about/versions/pie/android-9.0-changes-28   Apache HTTP 客户端弃用
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.service.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.yc.jsdsp.updata.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <provider
            android:name="com.bytedance.sdk.dp.act.DPProvider"
            android:authorities="${applicationId}.BDDPProvider"
            android:exported="false" />
    </application>

</manifest>