<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.majiaredgrab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 适配华为8.0安装apk权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- DownloadManager -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
<!--    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>-->


    <application
        android:name="com.yc.majiaredgrab.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/redlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppThemes"
        android:usesCleartextTraffic="true"
        tool:ignore="LockedOrientationActivity"
        tools:targetApi="q">
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.ShareActivity"></activity>
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.HelpQuestionActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.RedRainActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.SmokeHbActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.RedCountActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.GrabRedEvenlopesActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.WebViewActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.SnatchTreasureHistoryActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.AllLeaderBoarderActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.GuessingResultActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.GuessingDetailsActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.GuessingActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.SnatchTreasureDetailsActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.SnatchTreasureRuleActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.SnatchTreasureActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.AnswerDetailsActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.AnswerActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.WithdrawLeadborderActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.RobRedEvenlopesActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.TurnTableActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.MemberCenterActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.WithdrawRecordActivity" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.WithdrawActivity" />
        <activity
            android:name="com.yc.majiaredgrab.homeModule.activity.MemberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />
        <activity
            android:name="com.yc.majiaredgrab.homeModule.activity.SplashActivity"
            android:theme="@style/SplashThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yc.majiaredgrab.homeModule.activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yc.majiaredgrab.homeModule.activity.MemberLevelRewardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />
        <activity android:name="com.yc.majiaredgrab.homeModule.activity.WalletDetailActivity" />
        <activity
            android:name="com.yc.majiaredgrab.homeModule.activity.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.yc.majiaredgrab.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--
   不加这个安卓9以上使用QQ分享会闪退 报错ClassNotFoundException:
    Didn't find class "org.apache.http.conn.scheme.SchemeRegistry"
    https://developer.android.google.cn/about/versions/pie/android-9.0-changes-28   Apache HTTP 客户端弃用
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.service.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.yc.majiaredgrab.updata.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>


        <service
            android:name="com.yc.majiaredgrab.service.HongBaoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/qianghongbao"/>
        </service>

    </application>

</manifest>