<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.redevenlopes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 适配华为8.0安装apk权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- DownloadManager -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppThemes"
        tool:ignore="LockedOrientationActivity"
        tools:targetApi="q">
        <activity android:name=".homeModule.activity.AllLeaderBoarderActivity"></activity>
        <activity android:name=".homeModule.activity.GuessingResultActivity" />
        <activity android:name=".homeModule.activity.GuessingDetailsActivity" />
        <activity android:name=".homeModule.activity.GuessingActivity" />
        <activity android:name=".homeModule.activity.SnatchTreasureDetailsActivity" />
        <activity android:name=".homeModule.activity.SnatchTreasureRuleActivity" />
        <activity android:name=".homeModule.activity.SnatchTreasureActivity" />
        <activity android:name=".homeModule.activity.AnswerDetailsActivity" />
        <activity android:name=".homeModule.activity.AnswerActivity" />
        <activity android:name=".homeModule.activity.WithdrawLeadborderActivity" />
        <activity android:name=".homeModule.activity.RobRedEvenlopesActivity" />
        <activity android:name=".homeModule.activity.TurnTableActivity" />
        <activity android:name=".homeModule.activity.MemberCenterActivity" />
        <activity android:name=".homeModule.activity.WithdrawRecordActivity" />
        <activity android:name=".homeModule.activity.WithdrawActivity" />
        <activity android:name=".homeModule.activity.MemberActivity" />
        <activity android:name=".homeModule.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.service.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>